executor{
	name = 'crg'
	submitRateLimit='5 sec'
}

process {
	withLabel: gpu {
	container = 'file:///users/cn/abaltzis/sing_cache/alphafold_sylabs_gpu.sif'
    memory = 10.GB
    cpus = 8
    clusterOptions = '-q gpu,gpu_long -l gpu=1,h_rt=6:00:00'
	maxForks = 10
	}
	withLabel: cpu {
	queue = 'cn-el7'
	memory = 30.GB
	//scratch = true
	clusterOptions = '-l h_rt=420:00:00'
	container = 'docker://athbaltzis/paralogs:v0.9'
	//memory = { task.attempt < 2 ? '32.GB' : '496.GB'}
	//memory = { task.attempt > 1 : '100.GB'}
	//errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' } 
	//maxRetries = 2
	}
	withName: 'run_colabfold' {
		container = 'file:///users/cn/abaltzis/sing_cache/athbaltzis-colabfold_proteinfold-v0.9.img'
		memory = 20.GB
        clusterOptions = '-q gpu,gpu_long -l gpu=1,h_rt=24:00:00'
	}
	cleanup.enabled = true
}
singularity {
	enabled = true
	autoMounts = true
	runOptions = "--nv"
}
trace {
    enabled = true
    raw = true
    fields = 'task_id, hash,native_id,name,status,exit,realtime,%cpu,rss,peak_rss,vmem,peak_vmem,rchar,wchar'
}
//tower {
//    accessToken = '5429974cf2db71c9364adec93c11cd04637173be'
//    enabled = true
//}
