params {
    config_profile_name = 'CRG profile - slurm new cluster'
    config_profile_description = 'Configuration to run on CRG new cluster'

    max_cpus = 64
    max_memory = 100.GB
    max_time   = 48.h
}

process {
    executor = "slurm"
    array = 100
    maxRetries = params.max_retries
    errorStrategy = params.err_start
    
    withLabel: gpu {
        container = 'file:///users/cn/abaltzis/sing_cache/alphafold_sylabs_gpu.sif'
        memory = 10.GB
        cpus = 8
        //clusterOptions = '-q gpu,gpu_long -l gpu=1,h_rt=6:00:00'
        //maxForks = 10
	}
    withName: "run_phylo_ML_supermatrix_aln_sim|run_phylo_ME_supermatrix_aln_sim|run_phylo_ML_supertree_aln_sim|run_phylo_ME_supertree_aln_sim" {
        clusterOptions = '--qos=shorter'
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 4.GB   * task.attempt, 'memory'  ) }
        time   = { check_max( 1.min * task.attempt, 'time'    ) }
    }
    withLabel:process_low {
        clusterOptions = '--qos=shorter'
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 4.GB   * task.attempt, 'memory'  ) }
        time   = { check_max( 1.min * task.attempt, 'time'    ) }
    }
    withLabel:process_medium {
        clusterOptions = '--qos=normal'
        cpus   = { check_max( 4                   , 'cpus'    ) }
        memory = { check_max( 10.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 1.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_high {
        clusterOptions = '--qos=vlong'
        cpus   = { check_max( 8                   , 'cpus'    ) }
        memory = { check_max( 20.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 24.h  * task.attempt, 'time'    ) }
    }

}
