process {
    withName: "from_fasta_to_phylip_swa|swap_seq_in_fam|run_phylo_ME_supertree_aln_swa|run_phylo_ME_supermatrix_aln_sim|only_concatenate_aln_sim" {
        cpus   = { 1                   }
        memory = { 4.GB * task.attempt }
        time   = { 5.m  * task.attempt }
        array = 250
    }
}