/* config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    
	cleanup.enabled = params.cleanup

    withName: "extract_fasta_per_species_for_full_aln|run_full_alns|run_phylo_ML_full_aln_emp|run_phylo_ME_full_aln_emp|superfine_emp|extract_fasta_per_species|run_alns|only_concatenate_aln_emp|run_phylo_ML_supermatrix_aln_emp|run_phylo_ME_supermatrix_aln_emp|run_phylo_ML_supertree_aln_emp|run_phylo_ME_supertree_aln_emp|superfine_supertree_emp" {
        container = 'docker://athbaltzis/paralogs:v0.10'
        publishDir = [
            path: { "${params.outdir}/${fam}/results_without_mouse_10_samples/${params.mode}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: "extract_fasta_aln_per_species_sim|extract_fasta_aln_per_species_sim_for_full_aln|run_phylo_ML_full_sim|run_phylo_ME_full_sim|only_concatenate_aln_sim|concatenate_alns_sim|superfine" {
        container = 'docker://athbaltzis/paralogs:v0.10'
        publishDir = [
            path: { "${params.outdir}/${fam}/results/rerun" },
            mode: params.publish_dir_mode
        ]
    }

    withName: "extract_species_submsa" {
        container = 'docker://alessiovignoli3/paralogs-nf:r_phylogeny'
    }

    withName: "from_fasta_to_phylip|remove_ref_species" {
        container = 'docker://athbaltzis/paralogs:v0.10'
    }

    withName: "run_colabfold" {
		container = 'file:///users/cn/abaltzis/sing_cache/athbaltzis-colabfold_proteinfold-v0.9.img'
		memory = 20.GB
        clusterOptions = '-q gpu,gpu_long -l gpu=1,h_rt=24:00:00'
	}

    // could be temporary
    withName: "extract_fasta_per_species_for_full_aln_no_ref|run_full_alns_no_ref|run_phylo_ML_full_aln_emp_no_ref|run_phylo_ME_full_aln_emp_no_ref|superfine_emp_no_ref" {
       container = 'docker://athbaltzis/paralogs:v0.10'
        publishDir = [
            path: { "${params.outdir}/${fam}/results_without_mouse_10_samples/${params.mode}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> "no_ref_${filename}" }
        ]
    }


}

